@charset "UTF-8";
/* CSS Document */

/* basic website styles */

body {
    margin:0;
    background-color: #0a3542;
    color:#7d7d7d;
    font-family: "DroidSans", "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height:18px;
}
h1,h2,h3,h4,h5,h6{margin:0;font-family:geneva,sans-serif;font-weight:bold;color:#317eac;text-rendering:optimizelegibility;}
h1 {line-height:36px;}
h2 {
    font-family: "Quicksand", "DroidSans", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #204e5e;
    margin: 3px 0 13px 0;
    line-height:1em;
}
h4 {font-size:14px;}

p {
    line-height: 18px;
    margin: 0 0 12px;
}
img {max-width:100%; vertical-align:middle; border:0;}
ul {padding:0; margin:0 0 9px 25px}
a {color:#204e5e; text-decoration:none;}

p.padded { margin:15px 0 26px 0; }
p.inline { display: inline-block; }
p.two-column { display: inline-block; width:440px; vertical-align: top; padding-right: 20px; }
span.bolder { font-family:"DroidSansBold";}
h1 > span.bolder {font-family:"Quicksand", "DroidSans", "Droid Sans", Arial, Helvetica, sans-serif; font-weight:bold;}
span.quote { font-family: Arial, Helvetica, sans-serif; }

div.button {
    background-color: #f7941d;
    width: 130px;
    text-align: center;
    padding: 1px;
}

div.button a {
    display:block;
    margin: 10px 0;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.extra-info {background-color:#c7eaf4;}
/* LAYOUT TEMPLATES */

#fixed-width-page {
    background-color: #fff;
    width: 1024px;
    margin:8px auto 0;
}

#site-header {
    background-color: #0a3542;
    width: 1024px;
    overflow: hidden;
    margin: 8px 0 0 0;
}

#logo {
    margin-top: 10px;
    width: 454px;
    float: left;
}

#logo span { display: none; }

#ticket-banner {
    margin-top: 30px;
    width: 357px;
    margin-left: 675px;
}

.white-separator {
    height: 3px;
    background-color: #fff;
    margin-top: 30px;
    display:block;
}

/* LAYOUT TEMPLATES - navigation */

ul#site-navigation {
    background-color: #204e5e;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul#site-navigation li {
    display: inline-block;
    border-right: dashed 1px #59c9e1;
    text-align: center;
}

ul#site-navigation li.active {
    background-color: #305e6e;
}

ul#site-navigation li:first-child {
    border-left: dashed 1px #59c9e1;
    width: 170px;
}

ul#site-navigation li#twitter img {
    padding-left:4px;
    vertical-align:top;
}

ul#site-navigation li a {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    width: 166px;
    display:block;
    padding:18px 0 20px 0;
}

ul#site-navigation li a:hover { color: #59c9e1; }

/* SITE FOOTER */

#footer { margin-top: 40px; }

#footer ul {
    text-align: center;
    background-color: #59c9e1;
    padding: 8px 0;
    margin: 0;
}

#footer ul li {
    display: inline-block;
    color: #204e5e;
    list-style: none;
    font-size: 12px;
    text-align: center;
    padding: 0 3px;
}

#footer ul li a {
    text-decoration: none;
    color: #204e5e;
}

#footer ul li a:hover { color: #fff; }

/* SHARED: Workshop and Conference Schedule */

/* div containing heading and table for a day of the schedule */
div.day-schedule {
    margin: 40px 0 10px 0;
}

div.day-schedule table {
    text-align: left;
    margin-bottom: 30px;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}


div.day-schedule table th {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #204e5e;
    font-weight: normal;
    background-color: #B9E7F3;
    line-height: 25px;
    padding:10px;
}

div.day-schedule table tbody {
    background-color: #F0EDED;
}

div.day-schedule table tbody tr.speaker {
    background:rgb(224, 231, 233);
}

div.day-schedule table tbody td {
    width: 300px;
    line-height: 18px;
    vertical-align: top;
    padding: 10px;
}

div.day-schedule table th.time,
div.day-schedule table tbody td.time{
    width: 150px;
}

div.day-schedule table th.event,
div.day-schedule table tbody td.event{
    width: 250px;
}

div.day-schedule table th.descr,
div.day-schedule table tbody td.descr {
    width: 700px;
}

div.day-schedule table th.cost,
div.day-schedule table tbody td.cost {
    width: 100px;
}

div.day-schedule table tbody td.event img {
    padding-right: 6px;
}

div.day-schedule table tbody td.event span.speaker a {
    color: #204e5e;
    text-decoration: none;
}

div.day-schedule table tbody td.descr span.descr-heading {
    font-size: 14px;
    color:#204e5e;
}

div.day-schedule table tbody td p {
    margin-bottom: 0px;
}

/** HOME PAGE */

#top-content {
    overflow: hidden;
    margin-top: 40px;
}

#top-content h1 {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    color: #59c9e1;
    font-size: 37px;
    margin: 0 0 10px 50px;
    line-height:45px;
    font-weight: normal;
}

#top-content h1 span { color: #204e5e; }

#top-content #mission {
    width: 415px;
    margin-left: 50px;
    float: left;
}

#top-content #mission p {
    font-size: 19px;
    line-height: 25px;
    margin:19px 0 19px 0;
}

#top-content #mission p.date-venue { color:#204e5e; }

#top-content #target-audience {
    width: 446px;
    margin-left: 496px;
    padding: 11px 15px 15px 15px;
    margin-top: 30px;
}

#top-content #target-audience ul {
    padding-left: 0px;
    margin: 19px 0 0 0;
}

#top-content #target-audience ul li {
    list-style: none;
    padding-bottom: 12px;
    font-size: 14px;
}

#top-content #target-audience ul li p {
    width: 400px;
    margin: 0px;
}

#top-content #target-audience ul li img {
    vertical-align: top;
    padding-right: 15px;
}

#bottom-content {
    overflow: hidden;
    margin-top: 30px;
}

#bottom-content #location {
    width: 284px;
    float: left;
    margin-left: 50px;
    padding-bottom: 5px;
}

#bottom-content #location p {
    padding: 9px;
    margin: 0px;
}

#bottom-content #location h2 {
    color: #204e5e;
    margin-bottom: 0px;
    padding-left: 9px;
    padding-top: 15px;
}

#bottom-content #speakers li#more-speakers img {
    padding: 0;
}

#bottom-content #speakers li#more-speakers a {
    float:right;
}

#bottom-content #speakers li#more-speakers a.textlink {
    clear:left;
    width:100%;
    text-align:right;
    padding:0 0 10px 0;
    font-size:14px;
}

#bottom-content #speakers {
    width: 575px;
    background-color: #f5f5f6;
    margin-left: 372px;
    padding: 18px 0 0 18px;
}

#bottom-content #speakers a {
    text-decoration: none;
}

#bottom-content #speakers h2 {
    margin-bottom: 0px;
}

#bottom-content #speakers ul {
    list-style: none;
    padding-right: 21px;
    display: inline-block;
    padding-left: 0px;
    margin: 0;
    vertical-align:top;
}

#bottom-content #speakers li {
    margin-bottom: 25px;
}

#bottom-content #speakers li p {
    display: inline-block;
    vertical-align: top;
    width: 208px;
    height: 80px;
    margin-top: 0px;
}

#bottom-content #speakers li img {
    padding-right: 9px;
}

#bottom-content #speaker-bottom {
    padding-top: 5px;
    padding-bottom: 13px;
}

#bottom-content #speakers #description p {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 290px;
    float: left;
    margin-top: 0px;
    padding-left: 4px;
}

#sponsors {
    margin-top: 40px;
}

#sponsors ul{
    padding-left: 0px;
    margin: 25px 0;
    text-align:center;
}

#sponsors ul li {
    display: inline-block;
    margin: 0 22px;
}

#sponsors a:link, #sponsors a:hover, #sponsors a:visited {
    text-decoration: none;
    color: #f7941d;
    font-weight: bold;
}

#sponsors ul a {
    display: block;
    max-width: 150px;
}

/** SPEAKER PAGE @ */

#page-heading h1 {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #59c9e1;
    margin: 40px 0 15px 0;
}

div#speakers-section {
    padding-left: 0px;
    margin: 16px 0 0 28px;
}

div#speakers-section ul {
    margin: 0;
}

li.box {
    display: inline-block;
    list-style: none;
    margin-bottom: 20px;
    margin-right: 20px;
    vertical-align:top;
}

.speaker-box {
    background-color: #f5f5f6;
    width: 275px;
    padding: 15px;
}

.speaker-box img.profile {
    width: 78px;
    height: 90px;
}

.caption {
    display: inline-block;
    vertical-align: top;
    padding-left: 7px;
}

.caption ul {
    padding-left: 0px;
    margin: 0px;
    margin-top: 3px;
}

.caption li {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    list-style: none;
    height: 90px;
    width: 180px;
}

.caption li.twitter  {
    list-style: none;
    padding-bottom: 0px;
}

.caption li.twitter a:link, .caption li.twitter a:visited, .caption li.twitter a:hover   {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #204e5e;
}

.caption li.twitter img {
    padding-right: 5px;
}

a:hover div.speaker-box {
    background: #ddd;
}

.speaker-box .caption p {
    margin: 0;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.speaker-box p span.name {
    font-size: 16px;
    color: #59c9e1;
}

.speaker-box p span.company {
    font-size: 14px;
}

.speaker-box p span.title {
    font-size: 14px;
}

.bio {
    margin: 14px 0;
}

.bio p span.highlight {
    font-weight: bold;
    color: #f7941d;
}

/**SPEAKER INFO PAGE */

#speaker-info {
    overflow: hidden;
    margin-top: 40px;
}

ul#speaker-list {
    font-size: 14px;
    margin-left: 0;
}

ul#speaker-list li {
    list-style: none;
    padding-bottom: 15px;
}

p#speaker-details span.highlighted {
    color: #f7941d;
}

p#speaker-details span.grey {
    color: #7d7d7d;
}

p.twitter {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #204e5e;
    margin: 0 0 20px 0;
}

#right-column {
    margin-left: 300px;
    width: 650px;
}

#left-column {
    float: left;
    background-color: #f5f5f6;
    margin-left: 30px;
    width:200px;
}

#left-column h1 {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #59c9e1;
    font-weight: normal;
    padding: 18px;
    }

#right-column p#speaker-details {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #59c9e1;
    list-style: none;
    margin: 0px;
    padding: 20px 0;
}

#speaker-bio p {
	margin-bottom: 20px;	
	
}

#right-column #bio {
    margin-bottom: 25px;
}

#right-column h4 {
    margin-bottom: 5px;
}

#right-column #talk {
    margin-bottom: 25px;
}

/**SPONSOR INFO PAGE */

#sponsor-info {
    overflow: hidden;
    margin-top: 40px;
}

#sponsor-info p.tagline {
    font-family: "DroidSans", "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
	line-height: 20px;
    margin: 10px 0 20px 0;
}

ul#sponsor-list {
    font-size: 14px;
    margin: 0;
}

ul#sponsor-list li {
    list-style: none;
    padding-bottom: 15px;
}

#bio p {
	margin-bottom: 20px;	
	
}

p#sponsor-details {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p#sponsor-details span.highlighted {
    color: #f7941d;
}

p#sponsor-details span.grey {
    color: #7d7d7d;
}

#left-column {
    float: left;
    background-color: #f5f5f6;
    margin-left: 30px;
    padding: 18px;
}

#left-column h1 {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #59c9e1;
    font-weight: normal;
    padding: 18px 0;
}

#left-column h1.sponsor-level {
    font-size: 23px;
    color: #59c9e1;
    padding: 0 0 10px 0;
}

#right-column p#sponsor-details {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #59c9e1;
    list-style: none;
    margin: 0px;
	margin-top: 26px;
    padding: 20px 0;
}

#right-column #bio {
    margin-bottom: 25px;
}

#right-column h4 {
    margin-bottom: 5px;
}

#right-column #talk {
    margin-bottom: 25px;
}

/**VENUE PAGE */

.top-images ul {
    margin-left: 89px;
    padding-left: 0px;
    margin-top: 40px;

}

.top-images ul li {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

#venue-info {
    overflow: hidden;
}

#venue-info #kirstenbosch-text {
    width: 355px;
    margin: 22px 0 0 89px;
    float: left;
}

#venue-info #kirstenbosch-text h1{
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #59c9e1;
    padding: 0 0 15px 0;
}

#venue-info #kirstenbosch-text #extrainfo-box {
    background-color: #f5f5f6;
    padding: 7px;
}

#venue-info #kirstenbosch-text #extrainfo-box p {
    margin: 0px;
}

#venue-info #venue-map {
    margin: 27px 0 0 497px;

}

#venue-info #venue-map .map-heading {
    background-color: #0a3542;
    width: 435px;
}

#venue-info #venue-map .map-heading p {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-bottom: 0px;
}


/**SPONSORS PAGE */

#page-heading h1.center {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 15px;
}


ul.tier {
    text-align: center;
    padding: 0;
    margin: 25px 0 15px 0;
}

ul.tier li {
    display: inline-block;
    padding:20px 30px;
}

/**CONTACT PAGE */

#contact-page {
    overflow: hidden; 
	background-image: url(/images/tablemountain_contact.jpg);
	background-repeat: no-repeat;
	height: 545px;
	margin-top:-20px;
	margin-bottom: -40px;
}
#contact-details {
    margin-left: 10px;
    width: 208px;
    float: left;
	margin-top: 30px;
	background-color: rgba(225,225,225,0.4);
	padding: 28px;
    height:450px;
}

#contact-details p {
    font-size: 14px;
}

#page-heading h1.contact {
    margin-left: 0px;
    margin-top: 0px;
	color: #FFF;
}

#contact-details h2 {
    margin-bottom: 0px;
    margin-top: 26px;
    color: #f7941d;
}

#contact-details h2#general {
	margin-top: 63px;	
	
}

#contact-details a:link, #contact-page a:hover, #contact-page a:visited  {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    color:  #fff;
    text-decoration: none;
    font-size: 17px;
}

#contact-details p.details {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 16px;
    margin-top: 2px;
}

#contact-details p.details img {
    vertical-align: bottom;
}


/**SCHEDULE PAGE */

#schedule-page {
    margin: 0 40px;
}

#schedule-page #intro-schedule {
    margin-bottom: 50px;
}

#schedule-page #intro-schedule a:link, #schedule-page #intro-schedule a:hover, #schedule-page #intro-schedule a:visited {
    text-decoration: none;
    color:#f7941d;
}

#schedule-page #intro-schedule p {
    font-size: 14px;
}

#schedule-page h2 {
    margin-bottom: 6px;
}


/**PURCHASE PAGE */

#purchase-pg #page-heading p.intro {
    font-size: 14px;
    margin-top: 5px;
    line-height: 19px;
    margin-bottom: 30px;
}

#purchase-pg #conference {
    padding: 14px;
    background-color: #F0EDED;
}

#purchase-pg #workshops {
    padding: 14px;
    background-color: #F0EDED;
    margin-top: 10px;
}

#purchase-pg #workshops a:link, #purchase-pg #workshops a:hover, #purchase-pg #workshops a:visited {
    text-decoration: none;
}

#purchase-pg {
    overflow: hidden;
    margin-left: 28px;
}

div.purchase-info p {
    font-size: 14px;
    color: #333;
}

#purchase-pg b {
    font-family:"DroidSansBold";
    color: #204e5e;
    font-weight:normal;
}

#purchase-info {
    width: 535px;
    float: left;
}

#purchase-pg #purchase-info h2 {
    color: #f7941d;
}

#purchase-boxes {
    width: 300px;
    margin: 20px 0 0 580px;
}

#purchase-boxes #earlybird {
    background-color:  #B9E7F3;
    padding: 10px;
    margin-bottom: 10px;
}

#purchase-boxes h2:last-child {
    margin-bottom: 0px;
}

#purchase-boxes #extra-info  {
    margin-top: 18px;
}

#purchase-boxes #extra-info ul {
    padding-left: 0px;
    margin: 0;

}

#purchase-boxes #extra-info li {
    list-style: none;
    padding-bottom: 22px;
}

#purchase-boxes a:link, #purchase-boxes a:hover, #purchase-boxes a:visited {
    text-decoration: none;
    color:#f7941d;
}

#purchase-boxes #extra-info li p {
    margin: 0px;
}

#quicket {
    border-top: 1px dashed #999;
    padding-top: 27px;
    margin: 20px 120px 0 28px;
}

#quicket iframe {
    margin-left: -12px;
}

/**WORKSHOP PAGE */

#page-heading h1.workshops {
    margin-left: 0px;
}
