body { padding-top: 80px; }
.alignright { text-align: right;}
.aligncenter { text-align: center;}
.bg1 { background:#f5f5f5;}
footer { border-top:dashed 1px #888; padding-top:10px; margin-top:15px; }
