body { padding: 200px 0 60px 0; }
.alignright { text-align: right;}
.aligncenter { text-align: center;}
.bg1 { background:#f5f5f5;}
.bigtext { font-size: 16px; }
.herotext { font-size: 26px; line-height:1.4em; text-align:left; padding:0 10px 10px 0px; color:#555;}
.herotext b { color:#204E5E; font-weight:bold; }
.red { color:#A71616; }
a { color:#ED7B31;}

h5#wherewhen {
    color:#ED7B31;
    font-size:18px;
    line-height:40px;
}

/* over-ride the bootstrap navbar colors */

div.navbar .navbar-inner{
    background-color:##0A3542;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0A3542), color-stop(90%, #0A3542), to(#0E2C35));
    background-image:-webkit-linear-gradient(#0A3542, #0A3542 90%, #0E2C35);
    background-image:-moz-linear-gradient(top, #0A3542, #0A3542 90%, #0E2C35);
    background-image:-ms-linear-gradient(#0A3542, #0A3542 90%, #0E2C35);
    background-image:-o-linear-gradient(#0A3542, #0A3542 90%, #0E2C35);
    background-image:linear-gradient(#0A3542, #0A3542 90%, #0E2C35);
    background-repeat:no-repeat;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3542', endColorstr='#0E2C35', GradientType=0);
    padding:30px 0 15px 0;
}

/* where we put the email form */
div.navbar-alt-inner {
    min-height:50px;
    background-image:-moz-linear-gradient(top, #204E5E, #204E5E);
    background-image:-ms-linear-gradient(top, #204E5E, #204E5E);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#204E5E), to(#204E5E));
    background-image:-webkit-linear-gradient(top, #204E5E, #204E5E);
    background-image:-o-linear-gradient(top, #204E5E, #204E5E);
    background-image:linear-gradient(top, #204E5E, #204E5E);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#204E5E', endColorstr='#204E5E', GradientType=0);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow:0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    margin-bottom:0;
}

div.navbar-alt-inner .container { width:940px; }
div.navbar-alt-inner p { color: #ddd; display:inline-block; font-size: 12px; padding: 8px 12px 8px 0; margin-top:8px;}
div.navbar-alt-inner p span { color:#fff; font-weight:bold;}
div.navbar-alt-inner input { margin:0 0 0 10px; }

/* custom button instead of bootstrap std */
/* courtesy of http://charliepark.org/bootstrap_buttons/ */
.btn-custom {
  background-color: hsl(34, 91%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d67d0a", endColorstr="#c27209");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d67d0a), to(#c27209));
  background-image: -moz-linear-gradient(top, #d67d0a, #c27209);
  background-image: -ms-linear-gradient(top, #d67d0a, #c27209);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d67d0a), color-stop(100%, #c27209));
  background-image: -webkit-linear-gradient(top, #d67d0a, #c27209);
  background-image: -o-linear-gradient(top, #d67d0a, #c27209);
  background-image: linear-gradient(#d67d0a, #c27209);
  border-color: #c27209 #c27209 hsl(34, 91%, 39%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
  font-size:16px;
  padding:5px 13px;
}

footer { border-top:dashed 1px #888; padding-top:10px; position:fixed; bottom:0; width:100%; background:#F7F7F7; }

div.navbar a.brand {
    width:350px;
    height:60px;
    padding:0;
    margin-left:0;
    background:url(/images/title-logo.png);
    margin:0 0 10px 0;
}

.navbar .nav > li > a {
    color:#88C3E4;
}

/* speaker blocks */
div.picture-block { border: solid 1px #eee; }
div.picture-block h2 { background: #555; padding:8px; color: #fff; }
div.picture-block p { padding:8px; color: #222; }

/* home page actions */
div.calling { background:#f7f7f7; box-shadow: 0 0 15px #fafafa; border-radius:15px;}
div.calling-card { margin: 10px 0 0 20px; padding:10px; }
div.calling-card img { display:inline-block; }
div.calling-card div { display:inline-block; padding:0px 20px; vertical-align:top; text-align:middle; }
div.calling-card div h2 { margin-top:5px; padding:0; color:#333; }
div.calling-card div a { margin-top:10px; }

/* sponsorship packages */
div.package { 
    width:300px;
    height:400px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow:0px 0px 9px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    display: inline-block;
    margin:15px 0 0 15px;
    vertical-align:top;
    position:relative;
}

div.package.first { margin-left: 0; }

div.package h1 { background:#555; color:#4F4; padding:10px; font-family:courier; font-weight:100; font-size:20px; border-bottom:solid 2px #333;}
div.package h1 .packagename { color:#999; font-size: 16px; }
div.package h1.tiny { font-family:geneva; font-size: 16px; color:#fff; }
div.package h2 { color:#000; font-size:14px; padding: 0 10px; }
div.package p.package-cost  { margin:0; position:absolute; bottom:0; width:100%; padding:10px 0; text-align:right; background:#fafafa;}
div.package p.package-cost span  { padding:10px; color:#000; padding:10px; font-weight:bold; }
div.package p  { color:#777; padding:10px; background:#fafafa; }
div.package ul { padding: 0 10px; list-style-type:circle;}
div.package ul li { line-height:1.7em; }

/* report styles */
div.report { background:#333; margin-top:20px; padding:15px 30px; border-radius:15px;}
p.report { font-size:20px; color:#ccc; line-height:1.4em; padding:10px 0;}
p.report b { font-weight:bold; color:#d06F44; }


