@charset "UTF-8";
/* CSS Document */

/* basic website styles */

body {
    background-color: #0a3542;
    color:#7d7d7d;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h2 {
    font-family: Quicksand, "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #204e5e;
    margin: 3px 0 13px 0;
    line-height:1em;
}

p {
    line-height: 18px;
    margin: 0 0 12px;
}

p.padded { margin:15px 0 26px 0; }
p.inline { display: inline-block; }
span.bolder { font-weight: bold; }
span.quote { font-family: Quicksand, Arial, Helvetica, sans-serif; }

div.button {
    background-color: #f7941d;
    width: 130px;
    text-align: center;
    padding: 1px;
}

div.button a {
    display:block;
    margin: 10px 0;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}


/* LAYOUT TEMPLATES */

#fixed-width-page {
    background-color: #fff;
    width: 1024px;
    margin:0 auto;
}

#site-header {
    background-color: #0a3542;
    width: 1024px;
    overflow: hidden;
    margin: 8px 0 20px 0;
}

#logo {
    margin-top: 10px;
    width: 454px;
    float: left;
}

#logo span { display: none; }

#ticket-banner {
    margin-top: 30px;
    width: 357px;
    margin-left: 675px;
}

.white-seperator {
    height: 3px;
    background-color: #fff;
    margin-top: 30px;
    display:block;
}

/* LAYOUT TEMPLATES - navigation */

ul#site-navigation {
    background-color: #204e5e;
    display: inline-block;
    margin: 0;
    padding-left: 0px;
}

ul#site-navigation li {
    display: inline-block;
    border-right: dashed 1px #59c9e1;
    text-align: center;
}

ul#site-navigation li.active {
    background-color: #305e6e;
}

ul#site-navigation li:last-child {
    border-right: none;
}

ul#site-navigation li#twitter img {
    padding-left:4px;
    vertical-align:top;
}

ul#site-navigation li a {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    width: 167px;
    display:block;
    padding:18px 0 20px 0;
}

ul#site-navigation li a:hover { color: #59c9e1; }

/* SITE FOOTER */

#footer { margin-top: 40px; }

#footer ul {
    text-align: center;
    background-color: #59c9e1;
    padding: 8px 0;
    margin: 0;
}

#footer ul li {
    display: inline-block;
    color: #204e5e;
    list-style: none;
    font-size: 12px;
    text-align: center;
    padding: 0 3px;
}

#footer ul li a {
    text-decoration: none;
    color: #204e5e;
}

#footer ul li a:hover { color: #fff; }

/* SHARED: Workshop and Conference Schedule */

/* div containing heading and table for a day of the schedule */
div.day-schedule {
    margin: 40px 0 10px 0;
}

div.day-schedule table {
    text-align: left;
    margin-bottom: 30px;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}


div.day-schedule table th {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #204e5e;
    font-weight: normal;
    background-color: #B9E7F3;
    line-height: 25px;
    padding:10px;
}

div.day-schedule table tbody {
    background-color: #F0EDED;
}

div.day-schedule table tbody td {
    width: 300px;
    line-height: 18px;
    vertical-align: top;
    padding: 10px;
}

div.day-schedule table th.time,
div.day-schedule table tbody td.time{
    width: 150px;
}

div.day-schedule table th.event,
div.day-schedule table tbody td.event{
    width: 200px;
}

div.day-schedule table th.descr,
div.day-schedule table tbody td.descr {
    width: 400px;
}

div.day-schedule table tbody td.event img {
    padding-right: 6px;
}

div.day-schedule table tbody td.event span.speaker a {
    color: #204e5e;
    text-decoration: none;
}

div.day-schedule table tbody td.descr span.descr-heading {
    font-size: 14px;
    color:#204e5e;
}

div.day-schedule table tbody td p {
    margin-bottom: 0px;
}

/** HOME PAGE */

#top-content {
    overflow: hidden;
    margin-top: 40px;
}

#top-content h1 {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #59c9e1;
    font-size: 37px;
    margin: 0 0 10px 50px;
    line-height:45px;
	font-weight: normal;
}

#top-content h1 span { color: #204e5e; }

#top-content #mission {
    width: 415px;
    margin-left: 50px;
    float: left;
}

#top-content #mission p {
    font-size: 19px;
    line-height: 25px;
    margin:19px 0 19px 0;
}

#top-content #mission p.date-venue { color:#204e5e; }

#top-content #target-audience {
    width: 446px;
    margin-left: 496px;
    background-image: url(/images/bluet.png);
    padding: 11px 15px 0px 15px;
    margin-top: 30px;
}

#top-content #target-audience ul {
    padding-left: 0px;
    margin: 19px 0 0 0;
}

#top-content #target-audience ul li {
    list-style: none;
    padding-bottom: 12px;
    font-size: 14px;
}

#top-content #target-audience ul li p {
    width: 400px;
    margin: 0px;
}

#top-content #target-audience ul li img {
    vertical-align: top;
    padding-right: 15px;
}

#bottom-content {
    overflow: hidden;
    margin-top: 30px;
}

#bottom-content #location {
    background-image: url(/images/bluet.png);
    width: 284px;
    float: left;
    margin-left: 50px;
	padding-bottom: 5px;
}

#bottom-content #location p {
    padding: 9px;
    margin: 0px;
}

#bottom-content #location h2 {
    color: #204e5e;
    margin-bottom: 0px;
    padding-left: 9px;
    padding-top: 15px;
}

#bottom-content #speakers {
    width: 575px;
    background-color: #f5f5f6;
    margin-left: 372px;
    padding: 12px;
}

#bottom-content #speakers h2 {
    margin-bottom: 0px;
}

#bottom-content #speakers ul {
    list-style: none;
    padding-right: 21px;
    display: inline-block;
    padding-left: 0px;
    margin: 0;
    vertical-align:top;
}

#bottom-content #speakers li {
    margin-bottom: 35px;
}

#bottom-content #speakers li p {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 80px;
    margin-top: 0px;
}

#bottom-content #speakers li img {
    padding-right: 9px;
}

#bottom-content #speaker-bottom {
    padding-top: 5px;
    padding-bottom: 13px;
}

#bottom-content #speakers #description p {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 290px;
    float: left;
    margin-top: 0px;
    padding-left: 4px;
}

#sponsors {
    margin-left: 50px;
    margin-top: 40px;
}

#sponsors h2 {
    font-size: 16px;
}

#sponsors ul{
    padding-left: 0px;
    margin: 0;
}

#sponsors ul li {
    display: inline-block;
    margin-right: 200px;
}

#sponsors a:link, #sponsors a:hover, #sponsors a:visited {
    text-decoration: none;
    color: #f7941d;
    font-weight: bold;
}

/** SPEAKER PAGE @ */

#page-heading h1 {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #59c9e1;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 28px;
}

ul#speakers-section {
    display: inline-block;
    padding-left: 0px;
    margin: 16px 0 0 28px;
}

li.box {
    display: inline-block;
    list-style: none;
    margin-bottom: 20px;
    margin-right: 20px;
    vertical-align:top;
}

.speaker-box {
    background-color: #f5f5f6;
    width: 275px;
    padding: 15px;
}

.speaker-box img.profile {
    width: 78px;
    height: 90px;
}

.caption {
    display: inline-block;
    vertical-align: top;
    padding-left: 7px;
}

.caption ul {
    padding-left: 0px;
    margin: 0px;
    margin-top: 3px;
}

.caption li {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    list-style: none;
    padding-bottom: 14px;
}

.caption li.twitter  {
    list-style: none;
    padding-bottom: 0px;
}

.caption li.twitter a:link, .caption li.twitter a:visited, .caption li.twitter a:hover   {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #204e5e;
}

.caption li.twitter img {
    padding-right: 5px;
}


.speaker-box .caption p {
    margin: 0px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

.speaker-box p span.name {
    font-size: 16px;
    color: #59c9e1;
}

.speaker-box p span.company {
    font-size: 14px;
}

.speaker-box p span.title {
    font-size: 14px;
}

.speaker-box p span.talk {
    font-size: 13px;
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}

.bio {
    margin: 14px 0;
}

.bio p span.highlight {
    font-weight: bold;
    color: #f7941d;
}

/**SPEAKER INFO PAGE */

#speaker-info {
	overflow: hidden;
	margin-top: 40px;		
}

ul#speaker-list {
	font-size: 14px;
	margin-left: 20px;	
}

ul#speaker-list li {
	list-style: none;
	padding-bottom: 15px;	
}

ul#speaker-details {
	margin: 0px;
	margin-top: 20px;	
	margin-bottom: 20px;
}

ul#speaker-details span.highlighted {
	color: #f7941d;
}

ul#speaker-details span.grey {
	color: #7d7d7d;
}

#right-column {
	margin-left: 265px;	
	width: 650px;	
}

#left-column {
	float: left;	
	background-color: #f5f5f6;
	margin-left: 30px;
}

#left-column h1 {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #59c9e1;
	font-weight: normal;
	padding: 18px;
	}

#right-column #speaker-details li {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #59c9e1;
	list-style: none;
	margin: 0px;
	padding-bottom: 10px;
	
}

#right-column #bio {
	margin-bottom: 25px;	
}

#right-column h4 {
	margin-bottom: 5px;	
}

#right-column #talk {
	margin-bottom: 25px;
}

/**SPONSOR INFO PAGE */

#sponsor-info {
	overflow: hidden;
	margin-top: 40px;		
}

ul#sponsor-list {
	font-size: 14px;
	margin-left: 20px;	
}

ul#sponsor-list li {
	list-style: none;
	padding-bottom: 15px;	
}

ul#sponsor-details {
	margin: 0px;
	margin-top: 20px;	
	margin-bottom: 20px;
}

ul#sponsor-details span.highlighted {
	color: #f7941d;
}

ul#sponsor-details span.grey {
	color: #7d7d7d;
}

#right-column {
	margin-left: 265px;	
	width: 650px;	
}

#left-column {
	float: left;	
	background-color: #f5f5f6;
	margin-left: 30px;
}

#left-column h1 {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #59c9e1;
	font-weight: normal;
	padding: 18px;
	}

#right-column #sponsor-details li {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #59c9e1;
	list-style: none;
	margin: 0px;
	padding-bottom: 10px;
	
}

#right-column #bio {
	margin-bottom: 25px;	
}

#right-column h4 {
	margin-bottom: 5px;	
}

#right-column #talk {
	margin-bottom: 25px;
}


/**VENUE PAGE */

.top-images ul {
    margin-left: 89px;
    padding-left: 0px;
    margin-top: 40px;

}

.top-images ul li {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

#venue-info {
    overflow: hidden;
}

#venue-info #kirstenbosch-text {
    width: 355px;
    margin: 22px 0 0 89px;
    float: left;
}

#venue-info #kirstenbosch-text h1{
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #59c9e1;
    padding: 0 0 15px 0;
}

#venue-info #kirstenbosch-text #extrainfo-box {
    background-color: #f5f5f6;
    padding: 7px;
}

#venue-info #kirstenbosch-text #extrainfo-box p {
    margin: 0px;
}

#venue-info #venue-map {
    margin: 27px 0 0 497px;

}

#venue-info #venue-map .map-heading {
    background-color: #0a3542;
    width: 435px;
}

#venue-info #venue-map .map-heading p {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-bottom: 0px;
}


/**SPONSORS PAGE */

#page-heading h1.center {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 15px;
}


ul.tier {
    text-align: center;
    border-bottom: 1px dashed #999;
    padding: 0;
    margin: 10px 0 10px 0;
}

ul.tier li {
    display: inline-block;
}

ul.tier li p {
    text-align: left;
    padding: 10px 0 0 0;
}

ul.tier li p span.company {
    color: #f7941d;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul#top-tier li {
    width: 300px;
    padding: 20px;
}

ul#second-tier li {
    width: 200px;
    padding: 15px;
}

ul#third-tier li {
    width: 140px;
    padding: 25px;
}


/**CONTACT PAGE */

#contact-page {
    overflow: hidden;
    margin-top: 35px;
}
#contact-details {
    margin-left: 28px;
    width: 200px;
    float: left;
}

#contact-details p {
    font-size: 14px;
}

#contact-page #contact-image {
    margin-left: 270px;
}


#page-heading h1.contact {
    margin-left: 0px;
    margin-top: 0px;
}

#contact-details h2 {
    margin-bottom: 0px;
    margin-top: 26px;
    color: #f7941d;
}

#contact-details a:link, #contact-page a:hover, #contact-page a:visited  {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color:  #7d7d7d;
    text-decoration: none;
    font-size: 17px;
}

#contact-details p.details {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color:  #7d7d7d;
    font-size: 16px;
    margin-top: 2px;
}

#contact-details p.details img {
    vertical-align: bottom;
}


/**SCHEDULE PAGE */

#schedule-page {
    margin: 0 40px;
}

#schedule-page #page-heading-schedule h1  {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #59c9e1;
    margin-top: 40px;
}

#schedule-page #intro-schedule {
    margin-bottom: 50px;
}

#schedule-page #intro-schedule a:link, #schedule-page #intro-schedule a:hover, #schedule-page #intro-schedule a:visited {
    text-decoration: none;
    color:#f7941d;
}

#schedule-page #intro-schedule p {
    font-size: 14px;
}

#schedule-page h2 {
    margin-bottom: 6px;
}


/**PURCHASE PAGE */

#purchase-pg #page-heading h1 {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 2px;
}

#purchase-pg #page-heading p.intro {
    font-size: 14px;
    margin-top: 5px;
    line-height: 19px;
    margin-bottom: 30px;
}

#purchase-pg #conference {
    padding: 14px;
    background-color: #F0EDED;
}

#purchase-pg #workshops {
    padding: 14px;
    background-color: #F0EDED;
    margin-top: 10px;
}

#purchase-pg #workshops a:link, #purchase-pg #workshops a:hover, #purchase-pg #workshops a:visited {
    text-decoration: none;
}

#purchase-pg {
    overflow: hidden;
    margin-left: 28px;
}

div.purchase-info p {
    font-size: 14px;
    color: #333;
}

#purchase-pg b {
    color: #204e5e;
    font-weight: bold;
}

#purchase-info {
    width: 535px;
    float: left;
}

#purchase-pg #purchase-info h2 {
    color: #f7941d;
}

#purchase-boxes {
    width: 300px;
    margin: 20px 0 0 580px;
}

#purchase-boxes #earlybird {
    background-color:  #B9E7F3;
    padding: 10px;
    margin-bottom: 10px;
}

#purchase-boxes h2:last-child {
    margin-bottom: 0px;
}

#purchase-boxes #extra-info  {
    margin-top: 18px;
}

#purchase-boxes #extra-info ul {
    padding-left: 0px;
    margin: 0;

}

#purchase-boxes #extra-info li {
    list-style: none;
    padding-bottom: 22px;
}

#purchase-boxes a:link, #purchase-boxes a:hover, #purchase-boxes a:visited {
    text-decoration: none;
    color:#f7941d;
}

#purchase-boxes #extra-info li p {
    margin: 0px;
}

#quicket {
    border-top: 1px dashed #999;
    padding-top: 27px;
    margin: 20px 120px 0 28px;
}

#quicket iframe {
    margin-left: -12px;
}

/**WORKSHOP PAGE */

#page-heading h1.workshops {
    margin-left: 0px;
}
