---
layout: page
name: Schedule
---

<div id="schedule-page">
    <div id="page-heading">
        <h1>Schedule for 2013</h1>
    </div>

    <div id="intro-schedule">
        <p>
            <span class="bolder">PLEASE NOTE:</span> This is a provisional
            schedule, but is subject to change as we finalise things.
        </p>
    </div>

    <div class='day-schedule'>
        <h2>WEDNESDAY, 17TH APRIL </h2>

        <p>
        We will be holding <a href="/workshops">workshops</a> during the day,
        for which separate tickets must be <a href="/purchase">purchased</a>.
        </p>

        {% for day in site.programme %}

        <h2>{{ day.day | upcase }}</h2>

        <table>
            <tbody>
                <tr>
                    <th class="time">TIME</th>
                    <th class="event">EVENT</th>
                    <th class="descr">DESCRIPTION</th>
                </tr>

                {% for event in day.schedule %}
                <tr>
                    <td class="time">{{ event.time | upcase }}</td>
                    <td class="event">
                        {% if event.speaker != nil %}
                        <img src="/images/bullet-schedule.png" />
                        <span class="speaker">
                            <a href="/speakers/{{ event.speaker }}">
                                {{ site.speakers[event.speaker].name }}
                            </a>
                        </span>
                        {% else %}
                        {{ event.event | upcase }}
                        {% endif %}
                    </td>
                    <td class="descr">
                        {% if event.speaker != nil %}
                        {{ site.speakers[event.speaker].title }}
                        {% else %}
                        {{ event.description }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endfor %}
    </div>
</div>
