---
layout: responsive
name: Speakers
---

<div class="row white-background">
    <div class="col-md-12">
        <h1>Speakers:</h1>
    </div>
</div>
<div class="row white-background">
    <div class="col-md-12">
        <p>
            We are currently accepting proposals for talks. If you would like to give a presentation, please submit your proposal using <a href="https://docs.google.com/forms/d/1gdB_3A7t7pdqYHXob46_4svGnLsphJHJfAsqM81dcXM/viewform?embedded=true">this form</a>. The presentation slots will be 45 minutes long, including questions. More information on submitting a talk can be found <a href="/speak">here</a>.
        </p>

        <p>
            Previous speakers with videos and slides can be found <a href="/videos">here</a>.
        </p>
    </div>
</div>

<div class="row white-background">
    <div class="col-xs-12 col-md-4">
        <ul class="list-inline">
            {% for speaker in site.speakers_1 %}
            <li class="box">
                <a href="/speakers/{{ speaker }}">
                <div class="row">
                    <div class="col-xs-5 col-md-5 gutter-padding-right">
                        <img src="/img/speakers/{{ speaker }}.medium.jpg" class="img-responsive profile"> 
                    </div>
                    <div class="col-xs-7 col-md-7 gutter-padding-left">
                        <h3 class="speaker">{{ site.speakers[speaker].name }}</h3>
                        {{ site.speakers[speaker].company }}<br />
                        {{ site.speakers[speaker].role }}
                    </div>
                </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <ul class="list-inline"> 
            {% for speaker in site.speakers_2 %}
            <li class="box">
                <a href="/speakers/{{ speaker }}">
                <div class="row">
                    <div class="col-xs-5 col-md-5 gutter-padding-right">
                        <img src="/img/speakers/{{ speaker }}.medium.jpg" class="img-responsive profile"> 
                    </div>
                    <div class="col-xs-7 col-md-7 gutter-padding-left">
                        <h3 class="speaker">{{ site.speakers[speaker].name }}</h3>
                        {{ site.speakers[speaker].company }}<br />
                        {{ site.speakers[speaker].role }}
                    </div>
                </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-12 col-md-4">
        <ul class="list-inline"> 
            {% for speaker in site.speakers_3 %}
            <li class="box">
                <a href="/speakers/{{ speaker }}">
                <div class="row">
                    <div class="col-xs-5 col-md-5 gutter-padding-right">
                        <img src="/img/speakers/{{ speaker }}.medium.jpg" class="img-responsive profile"> 
                    </div>
                    <div class="col-xs-7 col-md-7 gutter-padding-left">
                        <h3 class="speaker">{{ site.speakers[speaker].name }}</h3>
                        {{ site.speakers[speaker].company }}<br />
                        {{ site.speakers[speaker].role }}
                    </div>
                </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
