---
layout: responsive
title: Schedule
---

<div class="row white-background">
    <div class="col-md-12">
        <h1>Conference Schedule</h1>
    </div>
</div>
<div class="row white-background">
    <div class="col-xs-12 col-md-12">
        <p>
            We're pleased to announce that the conference schedule is extended for 2015!
            This years conference will <strong>run over three days</strong>, with a more <i>business of scale</i>
            oriented day running first on the Wednesday. More details of the schedule for 
            the first day will be released soon.  Tickets for the technical talks can be <strong>purchased
            separately</strong> if you do not wish to attend the Business of Scale day.
        </p>
        <p>
        The <strong>Business of Scale</strong> day focuses on the issues leaders and
            their teams face when growing a technology-driven organisation.
            You'll get to hear from those who've faced the challenges of
            building engineering teams, growing healthy customer acquisition
            strategies, maintaining inspiring working environments, balancing
            customer demands and technical debt, dealing with exit
            opportunities and more.
        </p>
        <p> The <strong>tried and tested</strong> formula will 
            be repeated for the second two days, with a total of <strong>12 x 45 minute talks</strong> plus
            regular breaks to keep the legs from falling asleep and awesome
            lunches to feed the mind and body. 
        </p>
        <p>
            Finally, we will have a weekend of full- or half-day <strong>workshops</strong>.
        </p>
        <p>There will be <strong>three social
            events</strong> starting with the Wednesday evening with a sponsored drinks
            event in the city. Then similar events on the Thursday and Friday
            nights. These are a chance to socialise and network with the
            speakers, organisers, and fellow conference attendees.
        </p>

        <!-- <p>
        The schedule is available as a Google Calendar in the following formats:
        <a href="http://www.google.com/calendar/feeds/scaleconf.org_qth3oks5367pl9h6m31bhtvp2o%40group.calendar.google.com/public/basic">
            <img src="https://www.google.com/calendar/images/xml.gif" alt="XML" title="XML" />
        </a>
        <a href="http://www.google.com/calendar/ical/scaleconf.org_qth3oks5367pl9h6m31bhtvp2o%40group.calendar.google.com/public/basic.ics">
            <img src="https://www.google.com/calendar/images/ical.gif" alt="iCAL" title="iCAL" />
        </a>
        <a href="http://www.google.com/calendar/embed?src=scaleconf.org_qth3oks5367pl9h6m31bhtvp2o%40group.calendar.google.com&ctz=Africa/Johannesburg">
            <img src="https://www.google.com/calendar/images/html.gif" alt="HTML" title="HTML" />
        </a>
        </p> -->
        <!-- {% for day in site.data.schedule[site.year]programme %}

        <h2>{{ day.day | upcase }}</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:15%">TIME</th>
                    <th style="width:15%">EVENT</th>
                    <th style="width:70%">DESCRIPTION</th>
                </tr>
            </thead>
            <tbody>
                {% for event in day.schedule %}
                {% if event.speaker != nil %}
                <tr class='speaker'>
                    <td style="width:15%">{{ event.time | upcase }}</td>
                    <td style="width:15%">
                        <img src="/img/layout/bullet.png" />
                        <span class="speaker">
                            {% if event.speaker != 'TBC' %}
                            <a href="/speakers/{{ event.speaker }}.html">
                                {{ site.data.speakers.bios[event.speaker].name }}
                            </a>
                            {% else %}
                            TBC
                            {% endif %}
                        </span>
                    </td>
                    <td style="width:70%">
                        {% if event.speaker != 'TBC' %}
                            {{ site.data.speakers.bios[event.speaker].title }}
                        {% else %}
                            Coming soon...
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td style="width:15%">{{ event.time | upcase }}</td>
                    <td style="width:15%">
                        {{ event.event }}
                    </td>
                    <td style="width:70%">
                        {{ event.description }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% endfor %} -->
    </div>
</div>
