
<!-- MailChimp Signup Form -->

<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

<div id="mc_embed_signup" style='text-align:inherit;'>
  <form action="//scaleconf.us4.list-manage.com/subscribe/post?u=662cd7d3342f0c5e7c3597fad&amp;id=ceccb7bc0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate  style='text-align:inherit;'>
    <input type='email' name='EMAIL' class="form-control" style='display:inline-block; width:inherit; max-width:600px;'/>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_662cd7d3342f0c5e7c3597fad_ceccb7bc0a" tabindex="-1" value=""></div>
    <input name="subscribe" type="submit" value="Subscribe" class="btn btn-primary" style='display:inline-block'/>
    <div id="mce-responses" style="text-align: inherit">
      <div class="response" id="mce-error-response" style="display:none; width:100%; text-align:inherit;"></div>
      <div class="response" id="mce-success-response" style="display:none; width:100%; text-align:inherit;"></div>
    </div>
 </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<!--End MailChimp Signup Form-->
