<div class="row white-background">
    <div class="col-xs-12 col-md-12">
        <!-- <p>
        The schedule is available as a Google Calendar in the following formats:
        <a href="http://www.google.com/calendar/feeds/scaleconf.org_qth3oks5367pl9h6m31bhtvp2o%40group.calendar.google.com/public/basic">
            <img src="https://www.google.com/calendar/images/xml.gif" alt="XML" title="XML" />
        </a>
        <a href="http://www.google.com/calendar/ical/scaleconf.org_qth3oks5367pl9h6m31bhtvp2o%40group.calendar.google.com/public/basic.ics">
            <img src="https://www.google.com/calendar/images/ical.gif" alt="iCAL" title="iCAL" />
        </a>
        <a href="https://calendar.google.com/calendar/embed?src=scaleconf.org_qth3oks5367pl9h6m31bhtvp2o%40group.calendar.google.com&ctz=Africa/Johannesburg">
            <img src="https://www.google.com/calendar/images/html.gif" alt="HTML" title="HTML" />
        </a>
        </p> -->
        {% for day in site.data.schedule[2019]programme %}

        <h2>{{ day.day }}</h2>

        <table id="schedule" class='table table-responsive'>
            <thead>
                <tr>
                    <th style="width:10%">TIME</th>
                    <th style="width:25%">EVENT</th>
                    <th >DESCRIPTION</th>
                </tr>
            </thead>
            <tbody>
                {% for event in day.schedule %}
                {% if event.speaker != nil %}
                <tr class='speaker'>
                    <td style="width:15%">{{ event.time | upcase }}</td>
                    <td style="width:15%">
                        <img src="/img/layout/bullet.png" />
                        <span class="speaker">
                            {% if event.speaker != 'TBC' %}
                            <a href="/speakers#{{ site.data.speakers[event.speaker].name | slugify }}">
                                {{ site.data.speakers[event.speaker].name }}
                            </a>
                            {% else %}
                            TBC
                            {% endif %}
                        </span>
                    </td>
                    <td style="width:70%">
                        {% if event.speaker != 'TBC' %}
                            {{ site.data.speakers[event.speaker].title }}
                        {% else %}
                            Coming soon...
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td style="width:15%">{{ event.time | upcase }}</td>
                    <td style="width:15%">
                        {{ event.event }}
                    </td>
                    <td style="width:70%">
                        {{ event.description }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% endfor %}
    </div>
</div>
