---
layout: page
title: Sponsors
---
<div id="page-heading">
    <h1 class="center">A HUGE THANK YOU TO OUR <span class="bolder">SPONSORS</span> FOR 2013</h1>
</div>

<ul id="top-tier" class="tier">
    {% for sponsor in site.sponsors.gold %}
    <li>
        <a href="/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}">
            <img src="/images/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}.gold.png" />
        </a>
    </li>
    {% endfor %}
</ul>

<ul id="second-tier" class="tier">
    {% for sponsor in site.sponsors.silver %}
    <li>
        <a href="/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}">
            <img src="/images/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}.silver.png" />
        </a>
    </li>
    {% endfor %}
</ul>

<ul id="third-tier" class="tier">
    {% for sponsor in site.sponsors.bronze %}
    <li>
        <a href="/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}">
            <img src="/images/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}.bronze.png" />
        </a>
    </li>
    {% endfor %}
</ul>

<ul id="third-tier" class="tier">
    {% for sponsor in site.sponsors.event %}
    <li>
        <a href="/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}">
            <img src="/images/sponsors/{{ sponsor.name | downcase | replace:' ','_' }}.event.png" />
        </a>
    </li>
    {% endfor %}
</ul>

