---
layout: base
title: Sponsors
---

<!-- Sponsors -->

{% assign active_sponsors = site.data.sponsors.sponsors | where:"active", "true" | sort:"active_rank" %}

<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center section">
    <h1>Sponsors</h1>
    <p class='big'>Without the support of our generous sponsors, ScaleConf would be a vastly more expensive conference for our attendees.</p>
    <p class='big'>We would like to give a huge thank you to our confirmed 2020 sponsors.</p>
    <p>To find out more about sponsoring ScaleConf, <a href="mailto:info@scaleconf.org">contact us</a>.</p>
  </div>
</div>

<!-- List of sponsors -->

{% for sponsor in active_sponsors %}
<div class="row">
  <div class="col-md-offset-3 col-md-6 section">
    <div class="row text-center">
      <img
        src='/img/sponsors/{{ sponsor.name | slugify | replace: '-', '_' }}.large.png'
        style='display:inline-block; vertical-align:top; width: 300px; margin-top:40px;'/>
      {% if sponsor.second_logo %}
      <img
        src='/img/sponsors/{{ sponsor.second_logo | slugify | replace: '-', '_' }}.large.png'
        style='display:inline-block; vertical-align:top; width: 300px; margin-top:40px;'/>
      {% endif %}
    </div>
    <div class="row" style="margin-top:50px;">
      <div class="col-md-offset-1 col-md-10">
        <p>
          {{ sponsor.website_text }}
        </p>
      </div>
    </div>
  </div>
</div>

{% endfor %}
