<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ScaleConf - {{ page.title }} </title>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/scaleconf.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Quicksand:300,400,700' rel='stylesheet' type='text/css' />

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>

<body>

    {% assign sections = site.data.config.homepage_sections %}
    {% assign navigation = site.data.config.navigation %}

    <div id="appbar">
      <div style="float:right">
        <ul>
          <li><a href="/">home</a></li>
          {% if navigation.submit %}
          <li><a href="/submit-talk">submit talk</a></li>
          {% endif %}
          {% if navigation.schedule %}
          <li><a href="/schedule">schedule</a></li>
          {% endif %}
          <li><a href="/speakers">talks</a></li>
          <li><a href="/sponsors">sponsors</a></li>
          <li><a href="/about">history</a></li>
          {% if sections.tickets_sell %}
          <li><a href="/purchase" style="background:#418290; border-radius:2px; padding:11px; ">buy tickets</a></li>
          {% endif %}
          {% if sections.tickets_soldout %}
          <li style="background:#fff; border-radius:2px; padding:11px; color: #d44">SOLD OUT</li>
          {% endif %}
        </ul>
      </div>
      <a href="/index.html">
        <img src="/img/branding/logo_no_date.png" class="img-responsive" style='padding-left:20px'>
      </a>
    </div>

    <div class="container-fluid" style='min-height:95%'>
      {{ content }}

      <!-- Contact Us -->

      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="row text-center">
            <h2>Get in touch</h2>
            <p class="big">
              We have a number of sponsorship packages available to help bring your organization into the spotlight, <a href="mailto:info@scaleconf.org">contact us</a> for more information.
            </p>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>Email</h3>
              <p><a href='mailto:info@scaleconf.org'>info@scaleconf.org</a> for general queries</p>
              <p><a href='mailto:payments@scaleconf.org'>payments@scaleconf.org</a> for payment related questions</p>
            </div>

            <div class="col-md-4">
              <h3>Social Media</h3>
              <p>Follow us on Twitter <a href="https://twitter.com/scaleconf">@scaleconf</a></p>
              <p>Find us on <a href="https://www.facebook.com/scaleconf/">Facebook</a></p>
            </div>

            <div class="col-md-4">
              <h3>Community</h2>
              <p>This site is hosted on <a href='https://github.com/scaleconf/scaleconf.github.com'>Github</a>, please feel free to look around and contribute.</p>
              <p><a href="/codeofconduct">Code of conduct</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div style='position:relative; margin-top:-2px; padding:50px 0 0 0; background:#fff;'>
      <p style='background:#f9f9f9; color:#4a4c4c; text-align:center; padding:10px; margin:0;'>&copy; ScaleConf {{ 'now' | date: "%Y" }}</p>
    </div>


  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26903495-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
