<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}{{ page.title_suffix }}</title>
    <meta name="description" content="ScaleConf is a web scalability conference about working and building for highly scalable websites. International experts will be talking about principles from the devops movement as well as some trending technologies and methodologies.">
    {% if page.meta-description %}
        <meta name="description" content="{{ page.meta-description }}" />
    {% endif %}
    <meta name="author" content="@vhata, @nuknad">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 60px; }
        .alignright { text-align: right;}
        .aligncenter { text-align: center;}
        .bg1 { background:#f5f5f5;}
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26903495-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>

  </head>

  <body>

    <div class="topbar">
      <div class="fill">
          <div class="container">
          <a class="brand" href="/">ScaleConf</a>
          <ul class="nav">
            {% for link in site.navigation %}
              {% assign current = nil %}
              {% if page.url == link.url or page.layout == link.layout %}
                {% assign current = 'active' %}
              {% endif %}
              <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

        {{ content }}

      <footer>
          <p class='row'>
            <span class='span5'> &copy; ScaleConf 2012</span>
            <span class='span6 aligncenter'> <a href="https://github.com/scaleconf/scaleconf.github.com/">Pull requests</a> on this site are welcome!</span>
            <span class='span5 alignright'><a href='/contact-us'>contact us</a> </span>
          </p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>

