<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}{{ page.title_suffix }}</title>
    <meta 
        name="description" 
        content="ScaleConf is a web scalability conference about working and building for highly scalable websites. 
                 International experts will be talking about principles from the devops movement as well as some 
                 trending technologies and methodologies."
    >
    {% if page.meta-description %}
    <meta name="description" content="{{ page.meta-description }}" />
    {% endif %}
    <meta name="author" content="@vhata, @nuknad">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/scaleconf.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">

    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26903495-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>

  </head>

  <body>
      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container">
                  <a class="brand" href="/">SCALECONF</a>
                  <ul class="nav nav-pills">
                      {% for link in site.navigation %}
                      {% assign current = nil %}
                      {% if page.url == link.longurl %}
                      {% assign current = 'active' %}
                      {% endif %}
                      <li class="{{ current }}"><a href="{{ link.url }}" style='padding:19px 10px;'>{{ link.text }}</a></li>
                      {% endfor %}
                  </ul>
                  <ul class="nav pull-right">
                      <li><a style="padding-right:2px;" href="http://twitter.com/#!/scaleconf/"><img src='/images/twitter_button.png'/></a></li>
                  </ul>
              </div>
          </div>
      </div>
      
      <div class="navbar">
          <div class="navbar-alt-inner">
              <div class="container">
                  <div class='pull-right'>
                      <form id="speaker-form" class="paper-form form-horizontal" style='margin:0;'
                            action="https://docs.google.com/a/scaleconf.org/spreadsheet/formResponse?formkey=dHBkbjNacmZTZGYzZWlEMldjVmd3ZFE6MQ&embedded=true&ifq&submit=Submit"
                            method="POST" target='hidden_iframe' onsubmit='submitted=true'>
                            <p><span>Email me when tickets go on sale:</span></p>
                            <input type='text' id='emailaddress' name='entry.0.single' placeholder='joe.bloggs@internet.com'/>
                      </form>
                  </div>
              </div>
          </div>
      </div>

      {{ content }}

      <footer>
        <div class='container'>
            <p class='row'>
                <span class='span8'>
                        &copy; ScaleConf 2012 
                </span>
                <span class='span4 alignright'>
                        <a href="https://github.com/scaleconf/scaleconf.github.com/">pull requests</a> on this site are welcome!
                </span>
            </p>
        </div>
      </footer>


      <script type='text/javascript'>

          submitted=false;
          function validate_email() {
              failed = false;
              email_field  = document.getElementById('emailaddress')
              if (email_field.value == "")    { email_field.setAttribute('style','background:#fee'); failed=true; }
              if (failed == false) { window.location='/attend-success'; }
          }

      </script>

      <!-- hidden iframe to open our response which we basically discard. -->
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){validate_email()}"/>

    </body>
</html>

