<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ScaleConf -
        {% if site.speakers[page.name] != nil %}
            {{ site.speakers[page.name].name }}
        {% else %}
            {{ page.name }}
        {% endif %}
        </title>
        <link href="/css/scaleconf2013.css" rel="stylesheet">
        <!--[if gt IE 8]><!-->
        <link href="/css/webfonts_base64.css" rel="stylesheet">
        <!--<![endif]-->
        <!--[if lt IE 9]>
        <link href="/css/webfonts.css" rel="stylesheet">
        <![endif]-->
        <!--link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"-->
    </head>
    <body>
        <div class="banner" style="
            text-align: center;
            background: #fff;
            font-size: 19px;
            line-height: 28px;
            padding: 10px;
            border-top: solid 2px #aaa;
            border-bottom: solid 2px #aaa;
            color: #222;">
                ScaleConf 2014, April 10th and 11th, Kirstenbosch, Cape Town <br/>
                <span style="color:#777;">Check back soon for more details</span>
        </div>
        <div id="fixed-width-page">
            <div id="site-header">
                <div id="logo">
                    <a href="/2013.html"> <span> Scaleconf 2013 </span> <img src="/images/logo.png"  alt="logo"/></a>
                </div>
                <div id="ticket-banner">
                    <a href="/purchase"><img src="/images/ticket-banner.png" alt=""></a>
                </div>
                <div class="white-separator"> </div>
                <ul id="site-navigation">
                    {% for link in site.navigation %}
                        {% assign current = 'inactive' %}
                        {% if page.url == link.url %}
                            {% assign current = 'active' %}
                        {% endif %}
                    <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {{ content }}
            <div id="footer">
                <ul>
                    <li>
                        <h1><a href="/contact">Contact us</a></h1>
                        <p><a href='mailto:info@scaleconf.org'>info@scaleconf.org</a></p>
                        <p><a href='mailto:payments@scaleconf.org'>payments@scaleconf.org</a></p>
                    </li>
                    <li>
                        <h1>Follow Us</h1>
                        <p><a href='http://lanyrd.com/2013/scaleconf/'>Lanyrd | ScaleConf 2013</a></p>
                        <p><a href='https://twitter.com/scaleconf'>Twitter | @scaleconf</a></p>
                    </li>
                    <li>
                        <h1><a href="https://github.com/scaleconf/scaleconf.github.com">Github</a></h1>
                        <p><a href='https://github.com/scaleconf/scaleconf.github.com'><b>Pull requests</b></a> on <br>this site are welcome</p>
                    </li>
                    <li id='siliconcape'>
                    <a href="http://www.siliconcape.com/"><img src='/images/sponsors/siliconcape.partner.png' alt='Silicon Cape'></a>
                        <p>Proudly part <br>of the <a href="http://www.siliconcape.com/">Silicon <br> Cape Initiative</a></p>
                    </li>
                </ul>
                <p id='copyright'>&copy;SCALECONF 2013</p>
            </div>
        </div>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26903495-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>

