<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ScaleConf -
		{% if site.speakers[page.name] != nil %}
			{{ site.speakers[page.name].name }}
		{% else %}
			{{ page.name }}
		{% endif %}
		</title>
		<!--link href="/css/bootstrap.css" rel="stylesheet"-->
		<link href="/css/scaleconf2013.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	</head>
	<body>
		<div id="fixed-width-page">
			<div id="site-header">
				<div id="logo">
					<a href="/index.html"> <span> Scaleconf 2013 </span> <img src="/images/logo.png"  alt="logo"/></a>
				</div>
				<div id="ticket-banner">
					<a href="/purchase"><img src="/images/ticket-banner.png" /></a>
				</div>
				<div class="white-seperator"> </div>
				<ul id="site-navigation">
					{% for link in site.navigation %}
						{% assign current = 'inactive' %}
						{% if page.url == link.url %}
							{% assign current = 'active' %}
						{% endif %}
					<li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{{ content }}
			<div id="footer">
				<ul>
					<li>&copy;SCALECONF 2013 |</li>
					<li><a href='https://github.com/scaleconf/scaleconf.github.com'><b>Pull requests</b></a> on this site are welcome |</li>
					<li><a href="/contact.html">Contact us</a></li>
				</ul>
			</div>
		</div>
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-26903495-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>

