<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScaleConf -
        {% if site.speakers[page.name] != nil %}
            {{ site.speakers[page.name].name }}
        {% else %}
            {{ page.name }}
        {% endif %}
        </title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Quicksand:300,400,700' rel='stylesheet' type='text/css' />
</head>

<body>
    <!-- <div class="navbar navbar-default navbar-fixed-top">
        <div class="container center-text">
            <p class="navbar-text"><strong>2015 is over! Thanks for coming... </strong></p>
        </div>
    </div> -->
    
	<div class="container">
        <div class="row">
            <a href="/index.html"><img src="/img/branding/logo_no_date.png" class="img-responsive" style="padding-top: 20px"></a>
        </div>
        <div class="row">
            <div class="masthead">
            <ul class="nav nav-justified">
              {% for link in site.navigation %}
                  {% assign current = 'inactive' %}
                  {% if page.url == link.url %}
                      {% assign current = 'active' %}
                  {% endif %}
              <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
              {% endfor %}
  
            </ul>
            </div>
        </div>
        
        {{ content }}
    	
        
		<div class="row footer">
        <div class="col-lg-2">
            </div>
			<div class="col-lg-2">
			
            <dl>
            <dt>Contact us</dt>
			<dd><a href="mailto:info@scaleconf.org">info@scaleconf.org</a></dd>
			<dd><a href="mailto:payments@scaleconf.org">payments@scaleconf.org</a></dd>
            </dl>
            
            </div>
            <div class="col-lg-2">
            
            <dl>
            <dt>Follow Us</dt>
			<dd><a href="http://lanyrd.com/2014/scaleconf/">Lanyrd</a></dd>
			<dd><a href="https://twitter.com/scaleconf">Twitter</a></dd>
            <dd><a href="https://www.facebook.com/scaleconf">Facebook</a></dd>
            </dl>
            
            </div>
            <div class="col-lg-2">
            
            <dl>
            <dt>Github</dt>
            <dd><a href="https://github.com/scaleconf/scaleconf.github.com">Pull requests on <br />
this site are welcome</a></dd>
			</dl>
            
            </div>
            <div class="col-lg-2">
			
                <dl class="dl-horizontal">
  <dt><a href="http://www.siliconcape.com/" target="_blank"><img src="/img/partners/siliconcape-partner.png" /></a></dt>
  <dd>Proudly part of the <a href="http://www.siliconcape.com/" target="_blank">
           	Silicon Cape Initiative</a></dd>
</dl>
     </li>       
 </ul>            
           
			</div>


            

            <div class="col-lg-2">
            </div>
            
        </div>
        <div class="row copyright">
            <div class="col-lg-12">&copy; SCALECONF 2014</div>
        </div>
	</div>
<script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26903495-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
</body>
</html>
