<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ScaleConf -
            {% if site.data.speakers.bios[page.slug] != nil %}
                {{ site.data.speakers.bios[page.slug].name }}
            {% elsif site.data.speakers.bios[page.name_one] != nil and site.data.speakers.bios[page.name_two] != nil%}
                {{site.data.speakers.bios[page.name_one].name}} &amp; {{site.data.speakers.bios[page.name_two].name}}
            {% else %}
                {{ page.title }}
            {% endif %}
    </title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Quicksand:300,400,700' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="banner" style="
            text-align: center;
            background: #fff;
            font-size: 19px;
            line-height: 28px;
            padding: 10px;
            border-top: solid 2px #aaa;
            border-bottom: solid 2px #aaa;
            margin-top: 15px;
            color: #222;">
                <span style="color:#000;">Tickets now open! &nbsp; <a href="/purchase/" class="btn btn-primary">Buy Tickets</a></span>
        </div>
    <div class="container">
        <div class="row">
            <a href="/index.html"><img src="/img/branding/logo_no_date.png" class="img-responsive" style="padding-top: 20px"></a>
        </div>

        <div class="row">
            <div class="masthead">
                <ul class="nav nav-justified">
                  {% for link in site.navigation %}
                      {% assign current = 'inactive' %}
                      {% if page.url == link.url %}
                        {% assign current = 'active' %}
                      {% endif %}
                  <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </div>

        {{ content }}
        {% if page.url != "/sponsors/index.html" %}
        <div class="row white-background">
            <div class="col-xs-12 col-md-12 text-center">
                <hr>
                <b>ScaleConf is brought to you in partnership with the following sponsors in 2015</b>
            </div>
        </div>
        <div class="row white-background">
            <div class="col-md-4">
                <a href='/sponsors/google.html'>
                    <img src="/img/sponsors/google.small.png" class="img-responsive sponsor-logo" alt="Google">
                </a>
            </div>
            <div class="col-md-4">
                <a href='/sponsors/takealot.html'>
                    <img src="/img/sponsors/takealot.small.png" class="img-responsive sponsor-logo" alt="Takealot">
                </a>
            </div>
            <div class="col-md-4">
                <a href='/sponsors/rsaweb.html'>
                    <img src="/img/sponsors/rsaweb.small.png" class="img-responsive sponsor-logo" alt="RSAWEB">
                </a>
            </div>
        </div>
        <div class="row white-background">
            <div class="col-md-2">
                <a href='/sponsors/oracle.html'>
                    <img src="/img/sponsors/oracle.small.png" class="img-responsive sponsor-logo" alt="Oracle">
                </a>
            </div>
            <div class="col-md-2">
                <a href='/sponsors/hetzner.html'>
                    <img src="/img/sponsors/hetzner.small.png" class="img-responsive sponsor-logo" alt="Hetzner">
                </a>
            </div>
            <div class="col-md-2">
                <a href='/sponsors/2go.html'>
                    <img src="/img/sponsors/2go.small.png" class="img-responsive sponsor-logo" alt="2go">
                </a>
            </div>
            <div class="col-md-2">
                <a href='/sponsors/ventureburn.html'>
                    <img src="/img/sponsors/ventureburn.small.png" class="img-responsive sponsor-logo" alt="Ventureburn">
                </a>
            </div>
            <div class="col-md-2">
                <a href='/sponsors/amazon.html'>
                    <img src="/img/sponsors/amazon.small.png" class="img-responsive sponsor-logo" alt="Amazon">
                </a>
            </div>
            <div class="col-md-2">
                <a href='/sponsors/key_connections.html'>
                    <img src="/img/sponsors/key_connections.small.png" class="img-responsive sponsor-logo" alt="Key Connections">
                </a>
            </div>
        </div>
        {% endif %}

        <div class="row footer">
            <div class="col-lg-2">
            </div>

            <div class="col-lg-2">
                <dl>
                    <dt>Contact us</dt>
                    <dd><a href="mailto:info@scaleconf.org">info@scaleconf.org</a></dd>
                    <dd><a href="mailto:payments@scaleconf.org">payments@scaleconf.org</a></dd>
                </dl>
            </div>

            <div class="col-lg-2">
                <dl>
                    <dt>Follow Us</dt>
                    <dd><a href="http://lanyrd.com/2015/scaleconf/">Lanyrd</a></dd>
                    <dd><a href="https://twitter.com/scaleconf">Twitter</a></dd>
                    <dd><a href="https://www.facebook.com/scaleconf">Facebook</a></dd>
                </dl>
            </div>

            <div class="col-lg-2">
                <dl>
                    <dt>Github</dt>
                    <dd><a href="https://github.com/scaleconf/scaleconf.github.com">
                    Pull requests on <br />
                    this site are welcome
                    </a>
                    </dd>
                </dl>
            </div>

            <div class="col-lg-2">
                <dl class="dl-horizontal">
                    <dt><a href="http://www.siliconcape.com/" target="_blank"><img src="/img/partners/siliconcape-partner.png" /></a></dt>
                    <dd>
                        Proudly part of the <a href="http://www.siliconcape.com/" target="_blank">Silicon Cape Initiative</a>
                    </dd>
                </dl>
            </div>

            <div class="col-lg-2">
            </div>
        </div>

        <div class="row copyright">
            <div class="col-lg-12">&copy; SCALECONF 2015</div>
        </div>
    </div>
    <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26903495-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    </script>
</body>
</html>
