---
layout: base
---

<!-- Speakers -->

<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-12 text-center section">
    <h1>Speakers</h1>
    <p class="big">
      We would like to give a huge thank you to our speakers, they're the reason
      we have this conference.
    </p>
  </div>
</div>


<!-- Year Options -->

<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-12 text-center section" style="padding-top:40px">
    {% for year in site.data.config.years %}
    {% if year == page.year %}
    <a href="/speakers/{{ year }}" style="margin: 0 10px 0 10px"><b>{{ year }}</b></a>
    {% else %}
    <a href="/speakers/{{ year }}" style="margin: 0 10px 0 10px">   {{ year }}    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>

<!-- List of speakers -->

{% assign page_speakers = site.data.speakers | where:"year", page.year %}

{% if page_speakers.size == 0 %}
<div class="row">
  <div class="col-lg-offset-4 col-lg-4 col-md-12 text-center section">
    <p class="big">
      We're still selecting speakers for this year, please check back later to
      see the lineup. If you would like to speak
    </p>
    <p class="big">
      <a href="/submit-talk" role="button" class="btn btn-primary">Submit a talk</a>
    </p>
    <p>
      You can browse previous speakers using the links above.
    </p>
  </div>
</div>
{% endif %}

<div class="row">

  <div class="col-lg-offset-3 col-lg-2 col-md-3">
    <div style='padding:40px 0' id="side-navigation">
    {% for speaker in page_speakers %}
      <a href="#{{speaker.name | slugify }}">
        <div class='speaker-selector' style='display:block; padding:5px; border-bottom:dashed 1px #eee;'>
          <b>{{ speaker.name }} - {{ speaker.title }}</b><br/>
          {{ speaker.company}}
        </div>
      </a>
    {% endfor %}
    </div>
  </div>

  <div class="col-lg-5 col-md-9">
    <!-- actual speaker info shown when speaker selected -->
    {% for speaker in page_speakers %}
    <div id='{{ speaker.name | slugify }}' class='col-md-10'>
      <div class="row col-md-offset-1" style="border-top: solid 2px #fff;">
        <h3>{{ speaker.name }} - {{ speaker.title }}</h3>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-12">
          <div class="row nested-row">
            <div class="col-md-2">
              <img src='/img/speakers/{{speaker.name | slugify | replace: '-', '_'}}.large.jpg' style='display:inline-block; vertical-align:top; margin-right:10px; border-radius:40px; height:80px;'/>
            </div>
            <div class="col-md-6">
              <p style="padding: 0 10px">
                {{ speaker.role }} <br/>
                {{ speaker.company }} <br/>
              </p>
            </div>
            <div class="col-md-4">
                {% if speaker.twitter %}
                <p>
                  <a href="https://twitter.com/{{ speaker.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ speaker.twitter }}</a>
                </p>
                {% endif %}
                {% if speaker.github %}
                <p>
                  <a class="github-button" href="https://github.com/{{ speaker.github }}" aria-label="Follow @{{ speaker.github}} on GitHub">Follow @{{ speaker.github }}</a>
                </p>
                {% endif %}
                {% if speaker.video %}
                <p>
                  <a href="http://youtube.com/watch?v={{speaker.video}}"><img src="/img/layout/youtube.png" style='height:24px;' /> View on youtube</a>
                </p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row nested-row col-md-offset-1" style="border-bottom: solid 1px #ddd; padding: 10px 0 20px 0; ">
        <div class="col-md-12">
          <p> {{ speaker.abstract }} </p>
        </div>
        <div class="col-md-offset-1 col-md-11" style="background:#eee; padding:15px;">
          <p>{{ speaker.bio}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
