<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Scale Conf</title>
<link href="/css/bootstrap_holding.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="container">
        <div class="row-fluid">
            <div class="span6"><img src="/images/logo.png" /></div>
            <div class="span6"></div>
        </div>
        <div class="row-fluid container-background">
        <div class="span12">
            <div class="row-fluid">
                <div class="span4">
                    <div class="gray-sidebar">
                    
                        <h2>Connect</h2>
                        <h2 class="email-signup">Get email updates</h2>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                        <form action="http://scaleconf.us4.list-manage2.com/subscribe/post?u=662cd7d3342f0c5e7c3597fad&amp;id=46cfaf0931" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                        </form>
                        </div>
                         
                        <!--End mc_embed_signup-->
                        
                       
                        <hr class="dashed-blue" />
                        <div id="widget"><div class="btn-o" contextmenu="menu"><a id="follow-button" class="" target="_blank" title="Follow @scaleconf on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fscaleconf.org%2Fcontact&amp;region=follow_link&amp;screen_name=scaleconf&amp;tw_p=followbutton&amp;variant=2.0"><i></i><span class="" id="l"><img src="/images/twitter.png" /> Follow <b>@scaleconf</b></span></a></div><div class="count-o" id="c"><i></i><u></u><a id="count" class="note" target="_blank" href="https://twitter.com/intent/user?original_referer=http%3A%2F%2Fscaleconf.org%2Fcontact&amp;region=count_link&amp;screen_name=scaleconf&amp;tw_p=followbutton&amp;variant=2.0"></a></div></div>

                        <hr class="dashed-blue" />
                        <p>See what happened at the last conference:</p>
                        <p> <a href="http://www.youtube.com/user/ScaleConf" target="_blank"><img src="/images/youtube-logo-05.png" /> <strong>2013</strong> Talks on Youtube</a></p>
                         <p><a href="/2013">Visit 2013 site</a></p>
                      
                        
                        
                    </div>
                </div>
                <div class="span8">
                <div class="gray-content">
                
                
                <h1 class="heading">SCALECONF 2014:</h1> 
                <h3>April 10th and 11th - Kirstenbosch, Cape Town</h3>
                {{ content }}
                        
                       
                        </div>
                        </div>
                
            </div>
          
        </div>
        </div>
          <div class="row-fluid">
                <div class="span12 blue-background">
                
                </div>
            </div>
    </div>
</body>
</html>
