---
layout: base
---

<!-- Speakers -->

<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center section">
    <h1>Speakers</h1>
    <p class="big">
      We would like to give a huge thank you to our speakers, they're the reason
      we have this conference.
    </p>
  </div>
</div>


<!-- Year Options -->

<div class="row">
  <div class="col-md-offset-3 col-md-6 text-center section" style="padding-top:40px">
    {% for year in site.data.config.years %}
    {% if year == page.year %}
    <a href="/speakers/{{ year }}" style="margin: 0 10px 0 10px"><b>{{ year }}</b></a>
    {% else %}
    <a href="/speakers/{{ year }}" style="margin: 0 10px 0 10px">   {{ year }}    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>

<!-- List of speakers -->

{% assign page_speakers = site.data.speakers | where:"year", page.year %}

{% if page_speakers.size == 0 %}
<div class="row">
  <div class="col-md-offset-4 col-md-4 text-center section">
    <p class="big">
      We're still selecting speakers for this year, please check back later to
      see the lineup. If you would like to speak
    </p>
    <p class="big">
      <a href="/submit-talk" role="button" class="btn btn-primary">Submit a talk</a>
    </p>
    <p>
      You can browse previous speakers using the links above.
    </p>
  </div>
</div>
{% endif %}

<style type='text/css'>
  .speaker-info.hidden { display:none }
  .speaker-selector.selected { background: #eee }
</style>

<script type='text/javascript'>
  function selectSpeaker(name) {
    var speakers = document.getElementsByClassName('speaker-info');
    for (var i = 0; i < speakers.length; i++) { speakers[i].classList.add('hidden') }
    var speaker_selectors = document.getElementsByClassName('speaker-selector');
    for (var i = 0; i < speaker_selectors.length; i++) { speaker_selectors[i].classList.remove('selected') }
    document.getElementById(name).classList.remove('hidden')
    document.getElementById('selector-' + name).classList.add('selected')
  }
</script>

<div class="row">

  <div class="col-md-offset-2 col-md-2">
    <div style='padding:40px 0'>
    {% for speaker in page_speakers %}
      <div class='speaker-selector' style='display:block; padding:5px; border-bottom:dashed 1px #eee;' id='selector-{{ speaker.name}}' onClick='selectSpeaker("{{ speaker.name }}")'>
        <b>{{ speaker.name }}</b><br/>
        {{ speaker.company}}
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="col-md-7">
    <!-- actual speaker info shown when speaker selected -->
    {% for speaker in page_speakers %}
    <div class='speaker-info hidden' id='{{ speaker.name }}'>
      <div class="row text-center">
        <h2>{{ speaker.name }}</h2>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-11">
          <div class="row nested-row">
            <div class="col-md-4">
              <img src='/img/speakers/{{speaker.name | slugify | replace: '-', '_'}}.large.jpg' style='display:inline-block; vertical-align:top; margin-right:10px; border-radius:40px; height:80px;'/>
            </div>
            <div class="col-md-8">
              <p>
                {{ speaker.role }} <br/>
                {{ speaker.company }} <br/>
                {% if speaker.twitter %}
                <p>
                  <a href="https://twitter.com/{{ speaker.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ speaker.twitter }}</a>
                </p>
                {% endif %}
                {% if speaker.github %}
                <p>
                  <a class="github-button" href="https://github.com/{{ speaker.github }}" aria-label="Follow @{{ speaker.github}} on GitHub">Follow @{{ speaker.github }}</a>
                </p>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row nested-row">
        <div class="col-md-offset-1 col-md-11">
          <p> {{ speaker.bio }} </p>
        </div>
      </div>
      <div class="row nested-row">
        <div class="col-md-offset-1 col-md-11">
          <p>The title of the talk is <i>"{{ speaker.title }}"</i>.</p>
        </div>
      </div>
      <div class="row nested-row">
        <div class="col-md-offset-1 col-md-11" style="background:#eee; padding:15px;">
          <p>{{ speaker.abstract}}</p>
        </div>
      </div>
      {% if speaker.video %}
      <div class="row nested-row">
        <div class="col-md-offset-1 col-md-11">
          <p>The video for this talk is <a target="_blank" href="http://youtube.com/watch?v={{speaker.video}}">available on youtube</a></p>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
</div>
